page-new-user {

 .new-user {
         display: flex;
        flex-direction: column;
    }

    .user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    .select-list-class {
     display: flex;
    flex-direction: row;
    align-items: center;
    }

}
