<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Users</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class = "no-user-message" *ngIf="users && users.length < 1"> 
    <span class="text-class">No Users Defined Yet!!</span>
  </div>
  <div *ngIf="!(users && users.length < 1)"> 
  <ion-list>
    <ion-item *ngFor="let user of users">
      <span (click)="openUserDetails(user)">
        <ion-avatar item-start>
          <img [src]="'assets/img/'+user.name+'.png'">
        </ion-avatar>
        <h2>{{user.name}}</h2>
        <p>{{user.role}}</p>
      </span>
      <button ion-button clear item-end (click)="deleteUser(user.email)">
        <ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</div>
  <ion-fab right bottom>
    <button ion-fab color="primary" [disabled]="isAdminUser" (click)="newUser()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
